*{box-sizing: border-box}
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.container{
  width: 100%;
  height: 100%;
  background-color: #5ea047;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.form>*{
  margin-bottom: 1rem;
}
.form .info{
  margin-top: 0;
}