*{box-sizing: border-box}
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.container{
  width: 100%;
  height: 100%;
  background-color: #5ea047;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  background-color: #fff;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.form>*{
  margin-bottom: 1rem;
}
.form .input {
  border: 0;
  padding: 0.8rem 1.2rem;
  outline: none;
  background-color: #e2e2e2;
}
.form .submit{
  padding: 0.7rem;
  text-transform: uppercase;
  background-color: #409623;
  color: #fff;
  border: 0;
  cursor: pointer;
}
.form .info{
  margin-top: 0;
  font-size: 11px;
  text-align: center;
}
.form .info a{
  text-decoration: none;
}
.form .info a:hover{
  text-decoration: underline;
}